{
  "extends": "airbnb",
  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },

  "rules": {
    "comma-dangle": [1, "never"],

    "space-before-function-paren": [2, {
      "anonymous": "always",
      "named": "never"
    }],

    "no-else-return": 0,
    "react/jsx-key": 1,
    "react/jsx-no-literals": 1,
    "react/jsx-pascal-case": 1,
    "react/no-direct-mutation-state": 2,
    "jsx-quotes": [2, "prefer-single"],

    "react/jsx-no-undef": 0,
    "react/react-in-jsx-scope": 0,

    "no-undef": 2,
    "no-unused-vars": [2, {
      "args": "after-used",
      "argsIgnorePattern": "^_"
    }],

    "id-length": [2, {
      "min": 2,
      "properties": "never",
      "exceptions": [
        "_",
        "v", "x", "y", "z",
        "i", "j", "k",
        "m", "n",
        "e", "c",
        "s", "a", "d",
        "f"
      ]
    }],
  },
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": [
        "node_modules",
        "src"
      ]
    }
  },
  "globals": {
    "React": true,
    "__DEVTOOLS__": true
  }
}
