:root {
  --button-on-text-color: #e6eff0;
  --button-off-text-color: #000;

  --button-debug-background: #803636;
}

.options {
}

.button {
}

.buttonOn {
  composes: button;
  color: var(--button-on-text-color);
}

.buttonOff {
  composes: button;
  color: var(--button-off-text-color);
}

.buttonFullScreen {
  composes: button;
}

.buttonDebug {
  background-color: var(--button-debug-background);

  &:hover {
    color: var(--button-on-text-color);
    background-color: color(var(--button-debug-background) tint(12%));
  }
}
